body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#scoreBoard{

font-size: 50px;

}


#buttons {
 display: flex;
 gap: 2rem;
width: 100vw;
justify-content: center;
align-items: center;
margin: 60px 0;

}

button {
    padding: 2rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

button:hover{
    cursor: pointer;
    background-color: #6a6f74;
}

#result, p {
    font-size: 20px;
   
    
}