body{
    
    height: 100%;
    
    margin: 3% 5%;
    padding: 0;
}

header{
    background-color: #0355E9;
    border-radius: 4px;
    padding: 1.5%;
    color: white;
    font-size: 20px;
}

.subHeader{
    background-color: #e5e2cf;
    padding: 0.3%;
}
.buttons{
    margin: 0 2%;
    padding: 0 2%;
    background-color: #e5e2cf00;
    border-color: #e5e2cf;
}

.center{
    display: flex;
   
   
   
}
.settings{
    background-color: #e5e2cf;
    padding: 7% 4%;
    
}
.button{
    display: flex;
    flex-direction: column;
    padding: 4% 20%;
    margin: 10% 0;
    width: fit-content;
}
.button, .text{
    align-items: center;
    justify-content: center;
    
}

#grid{
    display: grid;
   
  background-color: #85a2d6;
  
  width: 100%;
  border: 2px solid #5a5a5a; 
  
  
}
.colorSection{
    display: flex;
    background-color: #e5e2cf;
    padding: 2% 3%;
    border-bottom: 1px solid gray ;
    border-radius: 4px;
    
}
.colorTab{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid white ;
    
    
}
.leftTab{
    padding: 1rem;
    border-top: 1px solid #202020;
    border-left: 1px solid #202020;
}
.rightTab{
    display: flex;
    flex-flow: wrap;
    
}
.colorGridTab{
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

footer{
    border-radius: 4px;
    background-color: #e5e2cf;
    padding: 1rem 2rem;
    
}
