body{
    
    height: 100%;
    
    margin: 3% 5%;
    padding: 0;
}


header{
    background-color: #0355E9;
    border-radius: 4px;
    padding: 1.5%;
    color: white;
    font-size: 20px;
}

.subHeader{
    background-color: #e5e2cf;
    padding: 0.3%;
}
.buttons{
    margin: 0 2%;
    padding: 0 2%;
    background-color: #e5e2cf00;
    border-color: #e5e2cf;
}

.center{
    display: flex;
  
   
   
}
.settings{
    background-color: #e5e2cf;
    padding: 7% 4%;
    
}
.button{
    display: flex;
    flex-direction: column;
    padding: 4% 20%;
    margin: 10% 0;
    width: fit-content;
}
.button, .text{
    align-items: center;
    justify-content: center;
    
}

#grid{
    display: grid;
    
    width: 100%;
    
  
  border: 2px solid #5a5a5a; 
  
  
}
.gridPixel{

    aspect-ratio: 1;
    
   
}



.colorSection{
    display: flex;
    background-color: #e5e2cf;
    padding: 2% 3%;
    border-bottom: 1px solid gray ;
    border-radius: 4px;
    
}
.colorTab{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid white ;
    
    
}
.leftTab{
    padding: 1rem;
    border-top: 1px solid #202020;
    border-left: 1px solid #202020;
}
.rightTab{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 20px);
    grid-template-rows: repeat(2. 20px);
    
    
    
}
/*
.colorGridTab{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.secondRow{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
}
*/
.color{
    height: 20px;
    width: 20px;
    margin-top: 5px;
   /* background-color: blue; */
    background-color: value;
    
}

footer{
    border-radius: 4px;
    background-color: #e5e2cf;
    padding: 1rem 2rem;
    
}

/*


colors

#black{
    background-color: #000000;
}
#white{
    background-color: #ffffff;
}
#darkGray{
    background-color:#808080;
}
#gray{
    background-color: #c0c0c0;

}
#darkRed{
    background-color: #800000;
}
#red{
    background-color:#ff0000;
}
#mud{
    background-color: #808000;
}
#green{
    background-color: #00ff00;
}
#darkGreen{
    background-color: #008000;
}
#yellow{
    background-color: #ffff00;
}
#petrol{
    background-color: #008080;
}
#lightBlue{
    background-color: #00ffff;
}
#darkBlue{
    background-color: #000080;
}
#blue{
    background-color: #0000ff;
}
#purple{
    background-color: #800080;
}
#pink{
    background-color: #ff00ff;
}
*/